@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar{  
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.day-number{
 @apply xl:p-1.5 3xl:p-2 p-1 text-center w-7 xl:w-10 rounded-full text-sm xs:text-base xs:w-8 sm:w-7 sm:text-sm md:w-8 lg:w-9 3xl:w-[52px] md:text-base lg:text-lg xl:text-xl 3xl:text-3xl
}

.day-tile{
  @apply aspect-square sm:aspect-[14/15] sm:p-2 lg:p-3 xl:p-3.5 3xl:p-5 rounded-3xl flex flex-col justify-center sm:items-start sm:justify-start items-center xl:justify-between
}

.login-button{
  @apply flex text-sm items-center xs:text-base sm:text-lg md:text-lg lg:text-xl w-full text-white bg-MainDarkGray transition-all duration-300 rounded-full border-4 border-MainDarkGray hover:border-white/60 hover:bg-MainGreen px-8 xs:px-10 py-2.5
}

.dashboard-link{
  @apply text-MainDarkGray/70 xs:text-xs sm:text-sm text-2xs whitespace-nowrap transition-all hover:bg-LightGray/50 py-1 px-1.5 md:px-3 rounded relative before:block before:absolute before:transition-all before:bg-transparent before:w-full before:h-0.5 before:left-0 before:-bottom-2 my-2
}

.active-dashboard-link{
  @apply text-MainDarkGray before:bg-MainPurple
}

.dashboard-heading{
  @apply text-MainDarkGray text-center text-2xl xs:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 
}

.dashboard-page{
  @apply flex flex-col gap-y-10 sm:gap-y-12 py-16 sm:py-20 md:py-28 lg:py-36 xl:py-40 3xl:gap-y-24 lg:gap-y-16 2xl:gap-y-20 md:gap-y-14 lg:px-12 px-2 md:px-5 4xl:px-0 
}

.sidebar-button{
  @apply flex items-center gap-x-4 hover:bg-MainDarkGray/30 rounded-xl text-white grow text-sm md:text-lg sm:text-base leading-5 
}

.dashboard-post-page{
  @apply w-screen h-screen absolute left-0 top-0 z-30 bg-white flex flex-col items-center
}

.dashboardPostTileDataRow {
  @apply flex justify-between whitespace-nowrap xl:flex-col xl:h-full xl:justify-start md:gap-x-2 items-center text-2xs xs:text-xs md:text-sm 2xl:text-base border-t-2 md:border-0 md:p-0 border-LightGray first-of-type:border-t-0 pt-2 first-of-type:pt-0 text-MainDarkGray/60
}

.admistPostTile .dashboardPostTileDataRow {
  @apply md:border-b-2 md:pb-2 lg:pb-5 xl:border-0 xl:pb-0
}
.admistPostTile .dashboardPostTileDataRow:nth-of-type(4),
.admistPostTile .dashboardPostTileDataRow:nth-of-type(5)  {
  @apply md:border-b-0 md:pb-0 
}

.dashboardPostTileData {
  @apply text-MainDarkGray text-2xs 2xs:text-xs 2xl:text-xl 4xl:text-2xl xs:text-sm rounded-lg md:text-base lg:text-lg p-0
}

.dashboard-post-tile{
  @apply xl:w-48 2xl:w-56 3xl:w-60 whitespace-nowrap transition-all duration-200 hover:bg-MainDarkGray hover:text-white items-center flex text-2xs 2xs:text-xs xs:text-sm gap-x-2 border-2 border-MainDarkGray justify-center text-MainDarkGray rounded-3xl py-1.5 grow
}
.dashboard-post-tile-icon{
  @apply flex aspect-square items-center justify-center w-6 h-6 xs:w-7 xs:h-7 bg-MainDarkGray text-white transition-all duration-200 p-1 sm:p-1.5 lg:p-2 rounded-full group-hover/button:bg-white group-hover/button:text-MainDarkGray
}

#markdown-container h1{
  @apply font-bold 
}

#markdown-container a{
  @apply text-MainPurple font-semibold hover:underline
}

#markdown-container ul {
  @apply ps-4 md:ps-5 lg:ps-6 list-none 
}
#markdown-container ol {
  @apply list-inside list-none 
}

#markdown-container  ul > li {
  @apply list-disc my-0.5
}
#markdown-container ol > li {
  @apply list-decimal my-0.5
}

#markdown-container p, ul, ol , .block-quote, textarea{
  @apply 3xl:text-xl text-xs 2xs:text-sm sm:text-base md:text-base xl:text-lg
}

#markdown-container .block-quote{
  @apply italic px-5 border-l-2 border-MainPurple py-2 my-2 sm:my-3.5 md:my-6 sm:py-5 xs:px-8 md:py-7 xl:py-8 2xs:px-6 sm:px-10 lg:px-14 lg:py-6 bg-LightGray/30 font-light
}

#markdown-container .inline-code{
  @apply  bg-LightGray w-fit px-1 xl:px-2 py-0.5 xl:py-1 rounded
}

#markdown-container h1 , h2, h3 {
  @apply w-full tracking-wide
}

#markdown-container h1 {
  @apply 4xl:text-6xl text-base !leading-[150%] sm:text-lg md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl my-1 lg:my-4
}
#markdown-container h2 {
  @apply !leading-[130%] text-sm 4xl:text-5xl sm:text-base md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl my-1 lg:my-3.5
}
#markdown-container h3 {
  @apply text-xs 4xl:text-4xl sm:text-sm md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl my-1 lg:my-3
}

#top-posts-container > *:nth-child(2){
  @apply hidden md:block
}

#top-posts-container > *:nth-child(3){
  @apply hidden 2xl:block
}

select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
